@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Fira Sans", serif;
    margin: 0;
    padding: 0;
}

main, header {
    background-color: rgb(242, 252, 250);
}

.navigation_bar {
    display: flex;
    justify-content: space-between;
    padding: 30px 160px;
    align-items: center;
}

.nav_tittle {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}

.nav_btn {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-color: white;
    color: rgb(0, 106, 80);
    border: 1px solid rgb(0, 106, 80);
    padding: 15px 30px;
}

/* Section-1 CSS file start from here  */
.section_1 {
    display: flex;
    margin: 19px 160px 80px;
    padding: 80px 100px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 24px;
    background: rgb(198, 228, 214);
}

.section_1_contain {
    margin-left: -40px;
}

.scetion1_h1 {
    color: rgb(14, 14, 14);
    font-size: 56px;
    font-weight: 700;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 28px;
}

.section1_p {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
}

.btn {
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px;
    cursor: pointer;
    text-decoration: none;
}

.scetion_2 {
    margin: 80px 160px;
}

.scetion_2_h1 {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.scetion_2_card {
    display: flex;
    justify-content: space-between;
}

.scetion_2_card h4 {
    margin-top: 25px;
    margin-bottom: 12px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
}

.scetion_2_card p {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}

.scetion_2_card div {
    list-style: none;
    border: 3px solid black;
    padding: 25px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 25px;
}

/* section 3 start from here */
.section_3 {
    margin: 80px 160px 32px;
}

.section_3>h1 {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.section_3>p {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;
}

.section3-card {
    display: flex;
    justify-content: space-between;
    margin: 32px 0px;
}

.section3_card {
    padding: 32px;
}

.section3_card>h4 {
    margin-top: 25px;
}

.section3_card>p {
    margin-top: 12px;
    margin-bottom: 24px;
}

.scetion3_btn {
    text-decoration: none;
    color: white;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 10px 23px;

}

/* section 4 start From here */
.section4 {
    margin: 80px 160px 32px;
    background-image: url("/assets/quote-bg.png");
    background-repeat: no-repeat;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background-color: white;
}

.section4>div {
    padding: 48px 15px;
}

/* scetion 5 css start from here */
.section5 {
    margin: 80px 160px;
}

.section5>h1 {
    margin-bottom: 24px;
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.scetion5_question {
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.section5_question .tittle {
    display: flex;
    justify-content: space-between;
    background-color: rgb(198, 228, 214);
    padding: 27px 19px;
    color: rgb(14, 14, 14);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}